
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

/* Menu Lateral */
.bg-pink {
    background-color: #262e92;
    height: 100vh;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    background-color: #6c7496;
}

.nav-link.active {
    background-color: #6c7496;
}

/* Barra Superior */

.btn-pink {
    background-color: #262e92;
    border: none;
}

.btn-pink:hover {
    background-color: #262d9277;
}


.calendar-header {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
}

.table th,
.table td {
    vertical-align: top;
    height: 150px;
}

table {
    border-collapse: collapse;
    width: 100%; 
}

td {
    padding: 0; 
    position: relative; 
    height: 120px; 
}

.event {
    border: 5px solid;
    border-radius: 5px; /* Bordas arredondadas */
    height: 100%; /* Preenche 100% da célula */
    width: 100%; /* Preenche toda a largura da célula */
    box-sizing: border-box; /* Inclui borda e padding no tamanho total */
    padding: 8px; /* Espaçamento interno */
    font-size: 14px; /* Tamanho da fonte */
    line-height: 1.2; /* Espaçamento das linhas */
    overflow: hidden; /* Impede que o conteúdo "vaze" */
    display: flex; /* Facilita o alinhamento do conteúdo */
    align-items: center; /* Alinha verticalmente o conteúdo */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    background-color: white; /* Cor de fundo (opcional) */
}


.event.green {
    border-color: #28a745;
    background-color: #eefdf1;
    color: #000000;
}

.event.blue {
    border-color: #007bff;
    background-color: #ebf3fc;
    color: #007bff;
}

.event.yellow {
    border-color: #ffc107;
    background-color: #fffaea;
    color: #ffc107;
}

.event.orange {
    border-color: #fd7e14;
    background-color: #fff3e8;
    color: #fd7e14;
}

.event.purple {
    border-color: #6f42c1;
    background-color: #f4effd;
    color: #6f42c1;
}

.event.red {
    border-color: #dc3545;
    background-color: #fff1f3;
    color: #dc3545;
}


.event .photos {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: flex;
    align-items: center;
}

.event .photos img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: -5px; 
    border: 2px solid #fff; 
}